<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <title>APPsist</title>
  <meta name="description" content="APPsist">
  <link rel="stylesheet" href="../css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/fontawesome-stars-o.css">
  <link rel="stylesheet" href="../css/style.css">

  <script type="application/javascript" src="../js/jquery-3.1.1.min.js"></script>
  <script type="application/javascript" src="../js/jquery.barrating.min.js"></script>
  <script type="application/javascript" src="../js/details.js"></script>
  <script type="application/javascript">
    $(document).ready(function() {
      UFS.init('{{feedback.id}}', '{{process.id}}'{{#if feedback.rating}}, {{feedback.rating}}{{/if}});
    });
  </script>
</head>

<body>
  <div class="header">
    Bewertung
  </div>
  <div class="panel">
    <div class="field">
      <label>Durchgeführte Anleitung</label>
      <div class="info">{{process.title}} ({{process.id}}, {{feedback.created}})</div>
    </div>
    {{#if feedback.userId}}
    <div class="field">
      <label>Benutzer</label>
      <div class="info">{{feedback.userId}}</div>
    </div>
    {{/if}}
  </div>

  {{#if feedback.rating}}
  <div class="panel">
    <div class="field">
      <label>Bewertung</label>
      <select id="totalRating" name="totalRating">
        <option />
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
  </div>
  {{/if}}
  <div class="panel">
    {{#if feedback.hasContentFlaw}}
    {{#if feedback.contentFlawDetails}}
    <div class="field">
      <label>Es wurden fachliche Mängel angemerkt. Details:</label>
      <textarea readonly="readonly">{{feedback.contentFlawDetails}}</textarea>
    </div>
    {{else}}
    <div class="field">
      <label>Es wurden fachliche Mängel angemerkt ohne Details zu nennen.</label>
    </div>
    {{/if}}
    {{/if}}

    {{#if feedback.hasTechnicalFlaw}}
    {{#if feedback.technicalFlawDetails}}
    <div class="field">
      <label>Es wurden technische Probleme festgestellt. Details:</label>
      <textarea readonly="readonly">{{feedback.technicalFlawDetails}}</textarea>
    </div>
    {{else}}
    <div class="field">
      <label>Es wurden technische Probleme festgestellt ohne Details zu nennen.</label>
    </div>
    {{/if}}
    {{/if}}

    {{#if feedback.hasMiscFeedback}}
    <div class="field">
      <label>Sonstige Anmerkungen</label>
      <textarea readonly="readonly">{{feedback.miscFeedbackDetails}}</textarea>
    </div>
    {{/if}}
  </div>
  <div class="buttonBar">
    <button onclick="UFS.back();">Zurück</button>
    <button onclick="UFS.delete();">Löschen</button>
  </div>
</body>

</html>
